# Last Modified: Tue Aug 14 21:25:30 2007
#include <tunables/global>
/usr/lib/cups/backend/socket  {
  #include <abstractions/base>

  /usr/lib/cups/backend/socket mr,
}
